doctype html
html
    head
        title Сборка для react
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css")
    body
        h1 Сборка для react
        div#map.global-map
